<div class="container">
  <h2>Lista de Pokémon</h2>

  <div class="row">
    <div *ngFor="let pokemon of pokemons" class="col-md-3 mb-4">
      <div class="card h-100 shadow-sm">
        <img
          [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/' + pokemon.id + '.png'"
          class="card-img-top p-3"
          [alt]="pokemon.name"
          style="height: 200px; object-fit: contain;"
        />
        <div class="card-body text-center">
          <h5 class="card-title text-capitalize">{{ pokemon.name }}</h5>
          <p class="text-muted"><strong>Habilidades:</strong></p>
          <ul class="list-unstyled">
            <li *ngFor="let ab of pokemon.abilities">
              {{ ab.ability.name }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between mt-2 mb-4">
    <button class="btn btn-outline-primary" (click)="prevPage()" [disabled]="currentPage === 0">
      Anterior
    </button>
    <button class="btn btn-outline-primary" (click)="nextPage()">
      Siguiente
    </button>
  </div>
</div>
